<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>President Roles</title>
</head>
<body>
    <div class="card" id="presidentcard">
        <header class="card-header">
          <span class="card-header-title">
          <h1 style="position:relative; left:50%;">Roles</h1>
          </span>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            <h2>President</h2>
              <ul>
                <li>As the president, I am the primary leader of the team. I am responsible for 
                  setting the direction and making key decisions. I am a local thinker who follows facts,
                  and I believe in making decisions based on evidence and data.</li>
              </ul> <br>

              <h2>Strategic Planner</h2>
              <ul>
                <li>As a strategic planner, I strive to lead my team towards success through careful analysis and strategic planning.
                  This involves setting goals, developing plans to achieve those goals, and ensuring that the team is on track to meet them.</li>
              </ul> <br>

              <h2>Community Liaison</h2>
              <ul>
                <li> As a community liaison, I am committed to serving the best interests of my team and our community.
                  This involves communicating with community members, understanding their needs and concerns, and working to address them.</li>
              </ul> <br>

              <h2>Innovator</h2>
              <ul>
                <li> As an innovator, I am always open to new ideas and perspectives. 
                  This involves encouraging creativity and innovation within the team, 
                  and being open to new ways of doing things.</li>
              </ul> <br>

              <h2>Team Builder</h2>
              <ul>
                <li>As a team builder, I believe that together, we can achieve great things. 
                  This involves fostering a positive team culture,
                  promoting collaboration, and ensuring that all team members feel valued and included.</li>
              </ul>

            <br>
          </div>
        </div>
      </div>  
      <button class="button is-danger is-outlined" id="btnBack" routerLink="/aboutus">Back</button>
    
</body>
</html>