<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vice President Roles</title>
</head>
<body>
    <div class="card" id="presidentcard">
        <header class="card-header">
          <span class="card-header-title">
          <h1 style="position:relative; left:50%;">Roles</h1>
          </span>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            <h2>Vice President</h2>
                  <ul>
                    <li>As the vice president, I am the second-in-command of the team. 
                      I am responsible for supporting the president and helping to lead the team. 
                      I am a contributive and hard worker, dedicated to achieving our goals.</li>
                  </ul> <br>

                  <h2>Supporter</h2>
                  <ul>
                    <li> As a supporter, I am always willing to lend a hand and put in extra effort to ensure that our team is successful
                      . This involves being available to help with tasks, offering assistance when needed, and working hard to achieve our goals.</li>
                  </ul> <br>

                  <h2>Collaborator</h2>
                  <ul>
                    <li> As a collaborator, I believe in working together and collaborating to achieve the best results.
                      This involves communicating effectively with other team members, 
                      sharing ideas and resources, and working together towards common goals.</li>
                  </ul> <br>

                  <h2>Motivator</h2>
                  <ul>
                    <li> As a motivator, I am committed to doing my part to help our team thrive.
                      This involves encouraging and motivating other team members, 
                      recognizing their contributions, and fostering a positive team culture.</li>
                  </ul> <br>
                        <br>
          </div>
        </div>
      </div>  
      <button class="button is-danger is-outlined" id="btnBack" routerLink="/aboutus">Back</button>
    
</body>
</html>