<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Member Roles</title>
</head>
<body>
    <div class="card" id="presidentcard">
        <header class="card-header">
          <span class="card-header-title">
          <h1 style="position:relative; left:50%;">Roles</h1>
          </span>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            <h2>Creative</h2>
            <ul>
              <li>As a creative thinker, I bring creativity to the team.
                I am able to come up with innovative ideas and solutions to help the team achieve our goals.</li>
            </ul> <br>

            <h2>Reserved Contributor</h2>
            <ul>
              <li>As a reserved contributor, I have a reserved demeanor and maintain a calm and thoughtful presence within the team.
                This allows me to contribute my unique perspective in a measured and considered way.</li>
            </ul> <br>

            <h2>Collaborator</h2>
            <ul>
              <li> As a collaborator, I believe in the power of collaboration and am always willing to work with others to achieve our goals.
                This involves sharing ideas, resources, and expertise to help the team succeed.</li>
            </ul> <br>

            <h2>Problem Solver</h2>
            <ul>
              <li> As a problem solver, I am skilled at identifying and addressing challenges that arise within the team.
                I use my analytical skills and creativity to develop effective solutions and help the team overcome obstacles.</li>
            </ul> <br>
          <br>

            <br>
          </div>
        </div>
      </div>  
      <button class="button is-danger is-outlined" id="btnBack" routerLink="/aboutus">Back</button>
    
</body>
</html>